.header{
  background: #D3D3D3;
  height:auto;
  }
  .signup{
    background-image:url(/app/resources/bg-masthead.jpg);
  width: auto;
  height: 250px;
  background-position: center;
  text-align: center;
  }
.social{
color: #1E90FF;
}
.fas{
  color:#1E90FF;
  font-size: 45px;
}
.far{
  color:#1E90FF;
  font-size: 45px;
  }
.icons{
  text-align:center;
  display: flex;
}
.people{
  display: flex;
}
.text{
  text-align: center;
}
.img{
  display: flex;
  float:right;
}
.box{
  display: flex;
  float:right;
.body{
  display: flex;
}
.person{
  justify-content: center;
}
